@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developer : @ViewData["Developer"]</p>

<address>
    <strong>More information: <a href="http://github.com/caiotbraga"> github.com/caiotbraga</a></strong>
</address>
