@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Instagram: </strong> <a href="http://instagram.com/caiotbraga">caiotbraga</a><br />
    <strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/caiotbraga/">caiotbraga</a><br />
    <strong>Mail: </strong> <a>contatocaiobraga@gmail.com</a>

</address>
