@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<h4>Sellers</h4>
<hr />
<div class="row">
    <div class="col-md-6>

    </div>
</div>
<style>
    .row{
        !important: red:
    }
</style>

